.App {
  text-align: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.active{
  border-bottom: 4px solid rgb(22, 168, 179);

}
.navbar{
  padding-bottom: 0;
}
.navbar-brand{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-transform:uppercase;
 text-decoration-color: aqua;
 text-overflow: ellipsis;


}
.navbar-nav{
  align-content: flex-end;
}
.card-img-top{
  text-align: center;
  display: flex;
  margin: auto;
  width: 100px;
  height: 200px;
}